html,
body,
p,
span {
  font-family: "Microsoft YaHei";
  font-size: 12px;
  color: #333;
  margin: 0px;
  padding: 0px;
}
a {
  color: #337ab7;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #23527c;
  text-decoration: underline;
}
/*--页首部分--*/
.page-head {
  flex-wrap: nowrap;
  background-color: #F5DA55;
  border-top: 2px solid #333;
}
@media screen and (min-width: 1000px) {
  .page-head .logo-img {
    height: 35px;
  }
}
@media screen and (max-width: 999px) {
  .page-head .logo-img {
    height: 30px;
    margin-top: 2px;
  }
}
.page-head .head-box {
  display: flex;
  flex-wrap: nowrap;
}
.page-head .head-box .head-left,
.page-head .head-box .head-right {
  display: flex;
  flex-wrap: nowrap;
}
.page-head .head-box .head-left {
  width: 70%;
}
.page-head .head-box .head-right {
  width: 30%;
  text-align: right;
  flex-direction: row-reverse;
}
.page-head .head-box .head-item {
  flex-shrink: 0;
  width: 65px;
  text-align: center;
}
.page-head .head-box .head-item .link-item {
  color: #333;
  font-size: 17px;
  text-align: center;
  line-height: 33px;
}
.page-head .head-box .head-item .link-item:hover {
  text-decoration: none;
}
.page-head .head-box .drop-ul {
  position: absolute;
  top: 47px;
  background-color: #fff;
  box-shadow: 1px 3px 10px #333;
  right: 0px;
  min-width: 150px;
}
.page-head .head-box .drop-ul ul {
  margin: 0px;
  list-style: none;
  padding: 0;
  width: 100%;
  text-align: left;
}
.page-head .head-box .drop-ul ul li {
  color: #333;
  list-style: none;
  padding: 10px 15px;
  border-top: 1px solid #cbcbcb;
}
.page-head .head-box .drop-ul ul li a {
  color: #333;
  font-size: 14px;
  display: block;
}
.page-head .head-box .drop-ul ul li:active {
  background-color: #cbcbcb;
}
.page-head .head-box .drop-ul ul li:first-child {
  border-top: 0px;
}
.content-box {
  padding: 5px 15px;
  margin: 0 auto;
}
@media screen and (min-width: 1200px) {
  .content-box {
    width: 1200px;
  }
}
@media screen and (min-width: 1000px) {
  .for-pc {
    display: flex;
  }
}
@media screen and (max-width: 999px) {
  .for-pc {
    display: none !important;
  }
}
@media screen and (min-width: 1000px) {
  .for-phone {
    display: none !important;
  }
}
@media screen and (max-width: 999px) {
  .for-phone {
    display: flex;
  }
}
.btn {
  border: 0px;
  border-radius: 4px;
}
.btn-menu {
  height: 35px;
  width: 40px;
  background-color: #F5DA55;
  background-image: url(../images/icon/menu.png);
  background-size: 75%;
  background-position: 50%;
  background-repeat: no-repeat;
  padding: 10px;
}
.btn-menu:hover {
  background-color: #ebd054;
}
.banner-box {
  width: 100%;
  background-image: url(../images/banner-2.jpg);
}
@media screen and (min-width: 1000px) {
  .banner-box {
    height: 450px;
    background-size: 100%;
    background-position: center 0;
    background-repeat: repeat;
    text-align: center;
  }
  .banner-box .banner-title {
    color: #F5DA55;
    font-size: 57px;
    padding-top: 170px;
    text-shadow: 0px 1px 12px #333;
  }
  .banner-box .banner-subtxt {
    font-size: 20px;
    margin: 10px 0px;
    text-shadow: 0px 1px 12px #333;
  }
}
@media screen and (max-width: 999px) {
  .banner-box {
    background-size: 100%;
    background-position: center 0;
    background-repeat: repeat;
    text-align: center;
  }
  .banner-box .banner-title {
    color: #F5DA55;
    font-size: 26px;
    text-shadow: 0px 1px 12px #333;
    padding-top: 32px;
    padding-bottom: 4px;
  }
  .banner-box .banner-subtxt {
    font-size: 15px;
    padding-top: 10px;
    text-shadow: 0px 1px 12px #333;
    padding-bottom: 51px;
  }
}
.f-yellow {
  color: #F5DA55;
}
.f-w {
  color: #fff;
}
