html,
body,
p {
  font-family: Consolas, Microsoft YaHei, Source Code Pro, Menlo, Monaco, Courier New, monospace;
  font-size: 12px;
  color: #333;
  margin: 0px;
  padding: 0px;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  color: #337ab7;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #23527c;
  text-decoration: underline;
}
/*--页首部分--*/
#header-box {
  position: fixed;
  width: 100%;
  top: 0;
}
.page-banner {
  margin-top: 47px;
}
.page-head {
  flex-wrap: nowrap;
  background-color: #F5DA55;
  border-top: 2px solid #333;
}
@media screen and (min-width: 1000px) {
  .page-head .logo-img {
    height: 35px;
  }
}
@media screen and (max-width: 999px) {
  .page-head .logo-img {
    height: 30px;
    margin-top: 2px;
  }
}
.page-head .head-box {
  display: flex;
  flex-wrap: nowrap;
}
.page-head .head-box .head-left,
.page-head .head-box .head-right {
  display: flex;
  flex-wrap: nowrap;
}
.page-head .head-box .head-left {
  width: 70%;
}
.page-head .head-box .head-right {
  width: 30%;
  text-align: right;
  flex-direction: row-reverse;
}
.page-head .head-box .head-item {
  flex-shrink: 0;
  width: 65px;
  text-align: center;
}
.page-head .head-box .head-item .link-item {
  color: #333;
  font-size: 17px;
  text-align: center;
  line-height: 33px;
}
.page-head .head-box .head-item .link-item:hover {
  text-decoration: none;
}
.page-head .head-box .drop-ul {
  position: absolute;
  top: 47px;
  background-color: #fff;
  box-shadow: 1px 3px 10px #333;
  right: 0px;
  min-width: 150px;
  z-index: 99;
}
.page-head .head-box .drop-ul ul {
  margin: 0px;
  list-style: none;
  padding: 0;
  width: 100%;
  text-align: left;
}
.page-head .head-box .drop-ul ul li {
  color: #333;
  list-style: none;
  padding: 10px 15px;
  border-top: 1px solid #cbcbcb;
}
.page-head .head-box .drop-ul ul li a {
  color: #333;
  font-size: 14px;
  display: block;
}
.page-head .head-box .drop-ul ul li:active {
  background-color: #cbcbcb;
}
.page-head .head-box .drop-ul ul li:first-child {
  border-top: 0px;
}
.page-head .head-box .btn-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  display: none;
}
.content-box {
  padding: 5px 15px;
  margin: 0 auto;
}
@media screen and (min-width: 1200px) {
  .content-box {
    width: 1200px;
  }
}
@media screen and (min-width: 1000px) {
  .for-pc {
    display: flex;
  }
}
@media screen and (max-width: 999px) {
  .for-pc {
    display: none !important;
  }
}
@media screen and (min-width: 1000px) {
  .for-phone {
    display: none !important;
  }
}
@media screen and (max-width: 999px) {
  .for-phone {
    display: flex;
  }
}
.btn {
  border: 0px;
  border-radius: 4px;
}
.btn-menu {
  height: 35px;
  width: 40px;
  background-color: #F5DA55;
  background-image: url(../images/icon/menu.png);
  background-size: 75%;
  background-position: 50%;
  background-repeat: no-repeat;
  padding: 10px;
  position: relative;
  z-index: 99;
}
.btn-menu:hover {
  background-color: #ebd054;
}
.page-banner {
  background-size: 100%;
  background-position: center 0;
  background-image: url(../images/banner-2.jpg);
  background-repeat: repeat;
}
.banner-box {
  width: 100%;
}
@media screen and (min-width: 1000px) {
  .banner-box {
    text-align: center;
    height: 450px;
  }
  .banner-box .banner-title {
    color: #F5DA55;
    font-size: 57px;
    padding-top: 170px;
    text-shadow: 0px 1px 12px #333;
  }
  .banner-box .banner-subtxt {
    font-size: 20px;
    margin: 10px 0px;
    text-shadow: 0px 1px 12px #333;
  }
}
@media screen and (max-width: 999px) {
  .banner-box {
    background-size: 100%;
    background-position: center 0;
    background-repeat: repeat;
    text-align: center;
  }
  .banner-box .banner-title {
    color: #F5DA55;
    font-size: 26px;
    text-shadow: 0px 1px 12px #333;
    padding-top: 32px;
    padding-bottom: 4px;
  }
  .banner-box .banner-subtxt {
    font-size: 15px;
    padding-top: 10px;
    text-shadow: 0px 1px 12px #333;
    padding-bottom: 51px;
  }
}
.title-box {
  width: 100%;
}
@media screen and (min-width: 1000px) {
  .title-box {
    height: 230px;
    text-align: left;
    width: 1200px;
    margin: 0 auto;
  }
  .title-box .banner-title {
    color: #F5DA55;
    font-size: 37px;
    padding-top: 60px;
    text-shadow: 0px 1px 12px #333;
  }
  .title-box .banner-subtxt {
    font-size: 20px;
    text-shadow: 0px 1px 12px #333;
    line-height: 2;
  }
  .title-box .date-subtxt {
    font-size: 17px;
    line-height: 1;
    text-shadow: 0px 1px 12px #333;
  }
  .title-box .tag-row {
    display: flex;
    margin-top: 5px;
  }
  .title-box .small-tag {
    flex-wrap: nowrap;
    background: #F5DA55;
    margin-right: 10px;
    padding: 2px 5px;
    border-radius: 3px;
  }
  .title-box .author-tag {
    flex-wrap: nowrap;
    padding: 2px 5px;
    border-radius: 3px;
    color: #F5DA55;
  }
  .title-box .time-tag {
    flex-wrap: nowrap;
    padding: 2px 5px;
    border-radius: 3px;
    color: #ffffff;
  }
}
@media screen and (max-width: 999px) {
  .title-box {
    background-size: 100%;
    background-position: center 0;
    background-repeat: repeat;
    text-align: center;
  }
  .title-box .banner-title {
    color: #F5DA55;
    font-size: 26px;
    text-shadow: 0px 1px 12px #333;
    padding-top: 32px;
    padding-bottom: 4px;
  }
  .title-box .banner-subtxt {
    font-size: 20px;
    text-shadow: 0px 1px 12px #333;
    line-height: 2;
  }
  .title-box .date-subtxt {
    font-size: 17px;
    line-height: 1;
    text-shadow: 0px 1px 12px #333;
  }
  .title-box .tag-row {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    flex-wrap: wrap;
  }
  .title-box .small-tag {
    background: #F5DA55;
    margin-right: 10px;
    padding: 2px 5px;
    border-radius: 3px;
    display: none;
  }
  .title-box .author-tag {
    padding: 2px 5px;
    border-radius: 3px;
    color: #F5DA55;
  }
  .title-box .time-tag {
    margin-right: 10px;
    padding: 2px 5px;
    border-radius: 3px;
    color: #ffffff;
  }
}
.f-yellow {
  color: #F5DA55;
}
.f-w {
  color: #fff;
}
@media screen and (min-width: 1000px) {
  .page-body {
    display: flex;
  }
  .page-body .md-preview {
    width: 800px;
    flex-wrap: nowrap;
  }
  .page-body .bd-other {
    flex-wrap: nowrap;
    width: 400px;
  }
}
@media screen and (max-width: 1000px) {
  .page-body {
    display: block;
  }
  .page-body .bd-other {
    display: none;
  }
}
.md-preview {
  font-size: 1.2rem;
}
.md-preview hr {
  background-color: #E6E6E6;
  height: 1px;
  border: 0px;
}
.md-preview h1,
.md-preview h2,
.md-preview h3,
.md-preview h4,
.md-preview h5,
.md-preview h6 {
  font-weight: normal;
  border-bottom: 1px solid #E6E6E6;
  padding-bottom: 5px;
}
.md-preview h1 {
  font-size: 2.2rem;
}
.md-preview h2 {
  font-size: 2rem;
}
.md-preview h3 {
  font-size: 1.8rem;
  border-bottom: 0;
}
.md-preview h4 {
  font-size: 1.6rem;
  border-bottom: 0;
}
.md-preview h5 {
  font-size: 1.4rem;
  border-bottom: 0;
}
.md-preview h6 {
  font-size: 1.2rem;
  border-bottom: 0;
}
.md-preview blockquote {
  border-left: 4px solid #f0ad4e;
  background: #f6f6f6;
  color: #555;
  font-size: 1em;
  margin: 0px;
  padding: 5px 10px;
}
.md-preview code,
.md-preview kbd,
.md-preview pre,
.md-preview samp {
  font-family: Consolas, Microsoft YaHei, Source Code Pro, Menlo, Monaco, Courier New, monospace;
}
.md-preview code.markup {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}
.md-preview p {
  margin: 5px;
  font-size: 1.2rem;
  line-height: 1.7;
}
.md-preview img {
  display: block;
  max-width: 100%;
}
.md-preview table {
  width: 100%;
  border: 1px solid #E6E6E6;
}
.md-preview table thead {
  background: #eeeeee;
}
.md-preview table tr {
  line-height: 1.6;
}
.md-preview table tr th,
.md-preview table tr td {
  border: 1px solid #E6E6E6;
  padding: 10px;
}
