doctype html
html(lang="en")
    head
        title TitanBlog
        meta(charset="UTF-8")
        link(rel="stylesheet", href="/css/main.css")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        //link(rel="apple-touch-icon" href="/custom_icon.png")
        link(rel="apple-touch-icon-precomposed" href="./images/apple-touch-icon.png")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        script(src="/javascripts/sea.js")
    body
        div#header-box
        section.page-banner
            // pc
            .banner-box
                p.banner-title Welcome Titan Blog !
                p.banner-subtxt.f-w 一个简约的网站
        section.page-body(style="height:1600px")
        fonter.page-foot
    script(type="text/javascript").
            seajs.config({
                base: "./javascripts",
                alias: {}
            });
            seajs.use("./javascripts/home/index.js");
