<!doctype html>
<html lang="en">
<head>
    <title>Welcome SinanBlog!</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../public/css/main.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="../../public/javascripts/react.js"></script>
    <script src="../../public/javascripts/react-dom.js"></script>
</head>
<body>
<header class="page-head">
    <!--pc-->
    <div class="content-box head-box for-pc">
        <div class="head-left">
            <div class="head-img">
                <img src="../../public/images/logo.png" class="logo-img" alt="logo here">
            </div>
            <div class="head-item" style="margin-left:35px;">
                <a href="#" class="link-item" target="_blank">首页</a>
            </div>
            <div class="head-item">
                <a href="#" class="link-item" target="_blank">博客</a>
            </div>
            <div class="head-item"><a href="#" class="link-item" target="_blank">相册</a></div>
            <div class="head-item"><a href="#" class="link-item" target="_blank">随笔</a></div>
        </div>
        <div class="head-right">
            <div class="head-item">
                <a href="https://github.com/SinanJS/sinan-blog" class="link-item" target="_blank">GitHub</a>
            </div>
        </div>
    </div>
    <!--手机-->
    <div class="content-box head-box for-phone">
        <div class="head-left">
            <div class="head-img">
                <img src="../../public/images/logo.png" class="logo-img" alt="logo here">
            </div>
        </div>
        <div class="head-right">
            <div class="head-item">
                <button class="btn btn-menu"></button>
            </div>
        </div>
    </div>

</header>

<section class="page-banner">

</section>
<section class="page-body">

</section>
<fonter class="page-foot">

</fonter>
</body>
</html>
