//
   Created by dell on 2016-12-18.

doctype html
html(lang="en")
    head
        title Welcome SinanBlog!
        meta(charset="UTF-8")
        link(rel="stylesheet", href="/css/main.css")
        link(rel="stylesheet", href="/css/prism.css")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
    body
        h1#title 404 not found