doctype html
html(lang="en")
    head
        title #{fileName}-TitanBlog
        meta(charset="UTF-8")
        link(rel="stylesheet", href="/css/main.css")
        link(rel="stylesheet", href="/css/prism.css")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel="shortcut icon" href="/images/icon.ico")
        link(rel="apple-touch-icon-precomposed" href="./images/apple-touch-icon.png")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        script(src="/javascripts/sea.js")
    body
        div#header-box
        section#page-banner

        section.page-body.content-box
            //p #{fileName}#{createTime}
            div.md-preview !{html}
            div.bd-other
        fonter.page-foot
    script(type="text/javascript").
            seajs.config({
                base: "../javascripts",
                alias: {}
            });
            seajs.use("../javascripts/blog/blog.js");

    script(type="text/javascript"  src = "/javascripts/prism.js")


